.news {
  height: 680px;
  &__title {
    padding: 50px 0 20px ;
    font-size: 55px;
    text-align: center;
  }
  &__heading {
    font-size: 20px;
    padding: 0 0 70px;
    text-align: center;
  }
  &__buttun {
    display: block;
    width: 250px;
    margin: 0 auto;
    padding: 18px 45px;
    border:3px solid rgb(108, 207, 9);
    border-radius: 30px;
    color: rgb(108, 207, 9);
    text-decoration: none;
    text-align: center;
  }
}